html {
    height: 100%;
}

/* ページ全体の背景 */
body {
    background-color: #222; 
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* コンテナを水平中央に */
    align-items: center;   /* コンテナを垂直中央に */
    overflow: hidden;
}

/* アニメーションのコンテナ */
#animation-container {
    position: relative;
    /* ▼ 修正箇所 ▼ */
    background: 
        repeating-conic-gradient(
            #888888 0% 25%, 
            #555555 25% 50%
        ) top left / 20px 20px;
}

/* 要素のコンテナ */
.element-container {
    position: absolute;
}

/* レイヤーの共通スタイル */
.outline-layer, .image-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* GitHubアイコンへのリンクのスタイル */
#github-link {
    position: fixed; /* 画面上の特定の位置に固定 */
    top: 20px;       /* 上から20pxの位置 */
    left: 20px;      /* 左から20pxの位置 */
    z-index: 9999;   /* 他の要素より手前に表示する */
}

/* アイコン自体のスタイル */
#github-link .fa-github {
    font-size: 32px;   /* アイコンの大きさ */
    color: #dddddd;     /* アイコンの色 */
}

/* カーソルを合わせた時のスタイル */
#github-link:hover .fa-github {
    opacity: 0.7; /* 少し透明にする */
}